.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/storage
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
tests
pnpm-lock.yaml
